.grad-green {
    height: 980px;
    width: 100% !important;
    margin-top: -100px;
    background-color: white;
    background-image: linear-gradient(hsl(87, 45%, 72%), white);

}

html {
    position: fixed;
    width: 100%;
    height: 100%;
}

.black {
    background-color: hsl(86, 20%, 49%);
    height: 350px;
    width: 350px;
    opacity: 50%;
    margin-top: 40px;
    border-radius: 287px;
}

body {
    overflow-x: hidden;
}

.div-welcome {
    height: fit-content;
    width: 80% !important;
    background-color: white;
    margin-top: 100px;
    ;
    border-radius: 0px 300px 300px 0px;
    margin-left: -150px !important;
    background-image: linear-gradient(hsl(65, 45%, 90%), white)
}

.div-image {
    height: fit-content;
    width: 100% !important;
    background-color: white;
    margin-top: 30px;
    height: 100%;
    border-radius: 0px 300px 300px 0px;
    margin-left: -100px !important;
    background-image: linear-gradient(hsl(65, 45%, 90%), white)
}

.div-contato {
        
    height: fit-content;
    width: 100% !important;
    background-color: white;
    margin-top: 100px;
    height: 100%;
    border-radius: 0px 300px 300px 0px;
    margin-left: -100px !important;
    background-image: linear-gradient(hsl(65, 45%, 90%), white)


}

.text-welcome {
    margin-left: 200px;
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
    color: hsl(86, 20%, 49%);
    font-size: 64px;
}

.text-image{
    margin-top: 50px;
    text-align: center;
    font-weight: bolder;
    color: hsl(86, 20%, 49%);
    font-size: 64px;
}

.img-home {
    width: 300px;
    margin-left: -65px;
    opacity: 70%;

}

.img-line1 {
    margin-left: 319px;
    margin-top: 60px;
}

.img-line2 {
    margin-left: 92px;
    margin-top: -239px;
    width: 500px;
}

.text-welcome-content {
    margin-left: 250px !important;
    font-size: 24px;
}

.header-text {
    font-weight: bolder;
    font-size: 24px !important;
    color: hsl(86, 60%, 24%) !important;
}

.menu {
    background-color: white !important;
}

.float-right {
    float: right !important;
}

.menu ul {
    float: right;
}

.menu li {
    margin-right: 80px;
}

.space {
    margin-left: 100px !important;
}

.font-text {
    font-family: "Quicksand", sans-serif;
}

.font-over {

    font-family: 'gazpachoheavy', Arial, sans-serif;
font-weight:normal;
font-style:normal;


}

.ball-menu {
    background-color: hsl(86, 20%, 49%);
    height: 50px;
    width: 50px;
    opacity: 50%;
    border-radius: 287px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.hearder-margin {
    margin-left: -100px;
    margin-top: 20px;
}

.hearder-links {
    margin-right: -100px;
    margin-top: 20px;
}

.header-img {
    margin-left: -50px;
}

.ball-direita {
    background: hsl(86, 20%, 69%);
    width: 65px !important;
    height: 50px;
    border-radius: 0px 4px 300px 0px;
    opacity: 38%;
}

.ball-esquerda {

    background: hsl(86, 20%, 69%);
    width: 65px !important;
    height: 50px;
    border-radius: 4px 0px 0px 300px;
    opacity: 38%;
}

@media (max-width: 1000px) {
    .ball-direita,
    .ball-esquerda {
        display: none;
    }
    .img-line1, .img-line2, .black, .img-home{
        display: none;
    }
    .div-welcome{
             width: 100% !important;
             margin-left: 0px !important;
    }
    .text-welcome, .text-welcome-content{
        margin-left: 0px !important;
    }

    .div-image{
        margin-top: 90px;
    }

    .div-contato{
        width: 100% !important;
        margin-left: 0px !important;
    
}
    
}

.video{
    width: 100% ;
    height: 480px;
}

.div-tutorial{
    text-align: center;
}

@media (max-width: 768px) {
    .div-image {
        
        margin-left: 0px !important;
        background-image: linear-gradient(hsl(65, 45%, 90%), white);
        height: fit-content;
   
    
    border-radius: 0px 0px 0px 0px;
  

    }

    .div-contato {
        
        margin-left: 0px !important;
        background-image: linear-gradient(hsl(65, 45%, 90%), white);
        height: fit-content;
   
    
    border-radius: 0px 0px 0px 0px;
  

    }
}

@media (max-width: 510px) {
    .carousel{
        width: 100% !important;
    }
}

@font-face {
    font-family: 'gazpachoheavy';
    src: url('gazpacho-heavy-webfont.woff2') format('woff2'),
         url('gazpacho-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.carousel {
    width: 450px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}

.slide {
    display: none;
    float: left;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.navbar-default .navbar-brand {
    color: #555;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #e67e22;
}

.navbar-default .navbar-nav>li>a {
    color: #555;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #e67e22;
    background-color: transparent;
}